body {
    margin: 0;
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}
.main-login {
    width: 100vw;
    height: 100vh;
    background: #f2a6ed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login, .card-cadastro {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #dedede;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;    
}

.card-login > h1 {
    color: #f871ef;
    text-decoration: none;
    font-size: 40px;
    margin: 0;
    font-family: Impact, sans-serif;
}

.card-cadastro > h1 {
    color: #f871ef;
    text-decoration: none;
    font-size: 40px;
    margin: 0;
    font-family: Impact, sans-serif;
}

.card-login, .card-cadastro > a {
    color: #2b2b2b94;
    font-weight:600;
    text-decoration: none;
}

.textoInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textoInput > input {
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    background: #c1bcc0;
    color: #000000de;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    border-style: solid;
    border-color: #2b2b2b94;
    border-width: 1px;
    box-sizing: border-box;   
}

.textoInput > label {
    
    color: #2b2b2b94;
    margin-bottom: 10px;
    font-weight:600;
}

.textoInput > input:focus {
    border-color: #ff32e7;
  }
  

.textoInput > input::placeholder {
    color:  #2b2b2b94;
}

.btn-login, .btn-cad {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: solid;
    border-color: #ff32e7;
    border-width: 1px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b2b2b94;
    background: #f2a6ed;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #2b2b2b94;
}

#link-logar, #link-cadastrar{
    text-decoration: none;
    color: #ff32e7;
}

#login-cadastro {
    display: none;
}

/* RESPONSIVIDADE */

@media only screen and (max-width: 950px) {
    .card-login, .card-cadastro {
        width: 85%;
    }
}

@media only screen and (max-width: 700px) {
    .main-login {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login {
        width: 100%;
        height: auto;
    }
    .login {
        width: 100%;
        height: auto;
    }
    .card-login, .card-cadastro {
        width: 50%;
    }
}
